@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240, 240, 240;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Impedir que a tela do celular apague */
html {
  overscroll-behavior: none;
  /* Mantem a tela ligada (funcionará no Chrome para Android e outros navegadores modernos) */
  display: block !important;
}

/* Estilo para tela cheia */
@media (display-mode: fullscreen) {
  body {
    height: 100vh;
    width: 100vw;
    overflow: auto;
  }
}

/* Animação de pulsação para alarme sem alterar variáveis globais */
@keyframes alarmeAnimation {
  0% {
    background-color: #fee2e2;
  }
  50% {
    background-color: #fecaca;
  }
  100% {
    background-color: #fee2e2;
  }
}

.animate-alarme {
  animation: alarmeAnimation 1s infinite;
}
